/* You can add global styles to this file, and also import other style files */
body{
    background-color: #dedede;
    margin: 0;
    padding: 0;
}

.field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: #555555;
    font-size: 14px;
}

input,
.p-dropdown {
    padding: 6px;
}

.invalid {
    border: 1px solid #a93a44 !important;
    background: #ffe8e0 !important;
}